@charset "utf-8";
/* 폰트 정의 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
 }
/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;font-size:1.15em;font-family: 'Noto Sans KR', sans-serif, Helvetica; line-height:18px;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1.1em;font-family: 'Noto Sans KR', sans-serif, Helvetica; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ul,ol,li,dl,dt,dd{list-style:none;margin:0;padding:0}
#hd ul, nav ul, #ft ul {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-family: 'Noto Sans KR', sans-serif, Helvetica; font-size:1em}
button {cursor:pointer}
textarea, select {font-family: 'Noto Sans KR', sans-serif, Helvetica; font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a:link, a:visited {color:#000;text-decoration:none}
a:hover, a:focus, a:active {color:#000;text-decoration:none}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}






/* 본문 바로가기 */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}


#hd{z-index:99999999;}
.k1 .on{color:#d39500;background-color:#f1f1f1;}
.foreign:hover{color:#d39500;background-color:#f1f1f1;}
.foreign.on{color:#d39500;background-color:#f1f1f1;}
.gnb_1da:hover{color:#d39500}
.header_input_text{height:25px;padding:0px;font-size:11px;margin-top:-20px;margin-right: 6px;}
.header_search{font-size:22px;top:-3px;}


#kmenu{background-color:#ffffff;width:100%;text-align:center;margin-top:4px;}
#kmenu #gnb{margin:0 auto; border:1px solid #ddd}
#kmenu .k1{cursor:pointer;font-weight:500;color:#252766;font-size:17px;display:inline-block;}
#kmenu .k1 .normal{margin-right:80px;padding: 10px 10px 10px 10px;}
#kmenu .k2{cursor:pointer;font-weight:500;color:#252766;font-size:17px;display:inline-block;}
#kmenu .k2 .foreign{padding: 10px 10px 10px 10px;}


/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto;width:970px;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff}
.hd_pops_con {}
.hd_pops_footer {padding:10px 0;background:#000;color:#fff;text-align:right}
.hd_pops_footer button {margin-right:5px;padding:5px 10px;border:0;background:#393939;color:#fff}

/* 상단 레이아웃 */
#hd {z-index:4;position:relative;top:0px;left:0;min-width:1000px;width:100%;}
.hd_zindex {z-index:10 !important}
#hd_h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
/*상단백그라운드 */
#hd_wrapper {margin:0 auto;height:100px;width:1100px;zoom:1;position:relative}
#hd_wrapper:after {display:block;visibility:hidden;clear:both;content:""}

#logo {position:relative;float:left;padding:0;height:52px;width:500px;margin-top:23px;}
#logo a{display:inline-block;vertical-align:middle;margin-top:0px; float:left;}
#logo a.le{}
#logo a.ri{margin-top:24px; margin-left:30px;}

.logo2{position:absolute;right:14px;margin-top:25px;}
.logo2 .lo_left{color:#242665;font-weight:bold;display:inline-block}
.logo2 .lo_left span.sp1{font-size:15px;margin-right: 5px;}
.logo2 .lo_left span.sp2{font-size:12px}
.logo2 .lo_right{display:inline-block;margin-left:18px;}
.logo2 .lo_right img{height:27px;margin-bottom:4px;}
.logo2 .lo_right a{font-weight:bold;font-size:18px;color:#565655;}						

/*상단_로그인*/
#tnb {position:absolute;top:5px;right:0;padding:0;border:1px solid #fff;margin:13px}
#tnb:after {display:block;visibility:hidden;clear:both;content:""}
#tnb li{float:left;margin-left:5px; }
/*#tnb li a img{ border-radius:17px/17px; }*/


/*일반행정 , 외국어 번역행정 메뉴 부분*/
.menu_normal{display:none;position:absolute;width:699px;background-color:#f1f1f1;margin-left:27%;height:390px; z-index:99999999; }
#normal_sub1{margin-top:25px;margin-left:12px;float:left; width:200px; font-weight:400;}
#normal_sub1 a{color:#252766;width:180px;padding-top:10px;padding-bottom:10px;font-size:17px;}
#normal_sub1 a:hover{cursor:pointer;color:#d39500}
#normal_sub2{padding:15px;margin-top:10px;background-color:#ffffff;float:left;width:230px;height:370px;}
#normal_sub2_photo{ width:100%; height:158px;}
#normal_sub2_text{margin-top:10px;}
#normal_sub2_text h2{font-size:17px;margin-bottom:10px;color:#252766}
#normal_sub2_text h3{font-size:13px;margin-bottom:5px;}
#normal_sub2_text >span {font-size:13px; font-weight:400;}
#normal_sub2_more{margin-top: 50px;text-align:right;}
#normal_sub4{padding:15px;background-color:#ffffff;margin-left:17px;float:left;margin-top:10px;float:left;width:230px;height:370px;}
#normal_sub4_photo{ width:100%; height:158px;}
#normal_sub4_text{margin-top:10px;}
#normal_sub4_text h2{font-size:17px;margin-bottom:10px;color:#252766}
#normal_sub4_text h3{font-size:13px;margin-bottom:5px;}
#normal_sub4_text >span {font-size:13px; font-weight:400;}
#normal_sub4_more{margin-top: 50px;text-align:right;}
.line_normal {margin-bottom:20px;width:180px; border-bottom:1px solid #999999;     margin-top: 7px;}




.menu_foreign{display:none;position:absolute;width:712px;background-color:#f1f1f1;margin-left:37%;height:390px; z-index:99999999; }
#foreign_sub1{margin-right: 13px;margin-top:22px;margin-left:12px;float:left;width:200px;font-weight:300;}
#foreign_sub1 .menu_head{font-weight:bold;font-size:17px;}
#foreign_sub1 h3{margin-bottom:10px;font-size:17px;}
#foreign_sub1 a{margin-bottom:10px;color:#252766;}
#foreign_sub1 a:hover{cursor:pointer;color:#d39500}
#foreign_sub1 h3:hover{cursor:pointer;color:#d39500}
.foreign_sub1_menu{line-height:22px;}
#foreign_sub1 .menu_s{font-size:14px;font-weight: 400;}
#foreign_sub2{padding:15px;margin-top:10px;background-color:#ffffff;float:left;width:230px;height:370px;}
#foreign_sub2_photo{ width:100%; height:158px;}
#foreign_sub2_text{margin-top:10px;}
#foreign_sub2_text a{font-size:17px;color:#252766;font-weight:bold;}
#foreign_sub2_text h3{font-size:13px;margin-bottom:5px;}
#foreign_sub2_more{margin-top: 50px;text-align:right;}
#foreign_sub4{padding:15px;background-color:#ffffff;margin-left:17px;float:left;margin-top:10px;float:left;width:230px;height:370px;}
#foreign_sub4_photo{ width:100%; height:158px;}
#foreign_sub4_text{margin-top:10px;}
#foreign_sub4_text a{font-size:17px;color:#252766;font-weight:bold;}
#foreign_sub4_text h3{font-size:13px;margin-bottom:5px;}
#foreign_sub4_more{margin-top:40px;text-align:right;}
.line {margin-top:10px;margin-bottom:13px;width:180px; border-bottom:1px solid #999999; }
#foreign_sub2_text span{font-size:13px; font-weight:400;}
#foreign_sub4_text span{font-size:13px; font-weight:400;}
.more{color:#43b02a;font-weight:bold;font-size:16px;}
.more a{color:#43b02a;}
.more a:hover{color:#d39500;}
/*일반행정 , 외국어 번역행정 메뉴 부분 끝*/

/**라인*/
#div_line {width:100%;height:3px; background: linear-gradient(to bottom, #E8E8E8, #F0F0F0);}

.visWrap{position:relative;width:100%; min-width:1210px; height:510px;overflow:hidden;}
.visWrap > div{height:510px; width:100%;position:absolute;top:0px;left:0px;}
.v1.bg1{background:url('../images/common/main_img_bg1.jpg') top center no-repeat;}
.v1.bg2{background:url('../images/common/main_img_bg2.jpg') top center no-repeat;}
.v1.bg3{background:url('../images/common/main_img_bg3.jpg') top center no-repeat;}

.v1motion{position:relative; width:1210px;   margin:0 auto; }
.v1text{position: absolute; top:176px; left:92px; width:660px;height:280px;overflow:hidden; z-index:9; }
.v1text ul li{padding:10px 0;}
.visTxt li{margin-left:40px;}
.visTxt li:nth-child(1) a{font-weight:300; font-size:26px; }
.visTxt li:nth-child(2) a{font-weight:400; font-size:44px; }
.visTxt li:nth-child(3) a{font-weight:400; font-size:44px;}
.visTxt li:nth-child(4) a{font-weight:200; font-size:18px; }
.visTxt li a{color:#fff;}

/*.visImg{display:none;}*/
.v1img_1{position: absolute; left:50%;  top:48px; margin-left:-605px;  z-index:999;}
.mainthumwrap{position:relative; width:1210px;   margin:0 auto; z-index:4;  z-index:999;}
.mainthum{position: absolute; top:450px; left:50%; margin-left:-80px; }
.mainthum li{float:left; width:22px; padding:0; text-align:center; margin:0 10px; cursor:pointer; }



/* 메인메뉴*/

#gnb {position:relative;float:right;}
#gnb:after {display:block;visibility:hidden;clear:both;content:""}
#gnb h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#gnb_1dul {padding:0;zoom:1;margin-top: 40px;}
#gnb_1dul:after {display:block;visibility:hidden;clear:both;content:""}
.gnb_1dli {z-index:10;position:relative;float:left;    PADDING-RIGHT: 13PX;text-align:center;}
a.gnb_1da {padding-right:10px;display:inline-block;  text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;font-weight:bold;text-decoration:none;color:#666;display:block;}
a.gnb_bg{background:url('../images/gnb_bg.gif') 100px 50%  no-repeat;}
.gnb_bg:focus, .gnb_bg:hover {background-color:#312f46 ;text-decoration:none}
.gnb_1dli_air .gnb_1da {background-color:#eee;color:#666}

.gnb_2dul {display:none;position:absolute;top:55px;width:180px;left:0}
.gnb_2da {display:block;padding:13px 10px;text-align:left;text-decoration:none;}
.gnb_1dli_air .gnb_2da {background-color:#eee;color:#666}
.gnb_1dli_on .gnb_2da {background-color:#eee;color:#666}
.gnb_2da:focus, .gnb_2da:hover {background:#3c95d5;color:#fff;text-decoration:none}
.gnb_1dli_over .gnb_2dul {display:block;left:0;background:#fff}
.gnb_1dli_over2 .gnb_2dul {display:block;right:0;background:#fff}
.gnb_1dli > img {height:25px;}

#findStr{width:145px;}


#gnb_empty {padding:8px 0;text-align:center;line-height:2em;color:#fff;margin-left:200px;line-height:18px}
#gnb_empty a {text-decoration:underline;color:#3c95d5}

/* 전체 검색 */
#hd_sch {position:absolute;top:0;right:0;padding:0;border:1px solid #fff;margin:13px}
#hd_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
#hd_sch #sch_stx {padding-left:5px;width:110px;height:27px;border:0;background:none;line-height:1.9em !important;line-height:1.6em;color:#fff}
#hd_sch #sch_submit {padding:0 5px;height:27px;border:0;background:url(../images/sch_btn.jpg) no-repeat 50%  50% ;color:#333;cursor:pointer;text-indent:-9999px;overflow:hidden;width:30px}

/*메인배너*/
#main_bn {background:#f1f1f1;position:relative;overflow: auto;width:100% !important}
#main_bn .bn_ul li{height:460px;float: left;}

#main_bn li.bn_bg1{background:url(../images/main_bn1.jpg) no-repeat 50% 50%; background-size: cover;display: table;-ms-filter: sizingMethod='scale' property}
#main_bn li.bn_bg2{background:url(../images/main_bn2.jpg) no-repeat 50% 50%; background-size: cover;display: table;-ms-filter: sizingMethod='scale' property}
#main_bn li.bn_bg3{background:url(../images/main_bn3.jpg) no-repeat 50% 50%; background-size: cover;display: table;-ms-filter: sizingMethod='scale' property}
#main_bn li .bn_wr{width:1000px; margin:0 auto;padding-top:117px}
#main_bn li .bn_txt{background-color:rgba(39, 120, 197,0.8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#902778c5,endColorstr=#902778c5);width:283px; height:205px;padding:25px}
#main_bn li .bn_txt h2{text-shadow: 0 1px 1px rgba(0, 0, 0, .3);color:#fff;font-size:2.2em;line-height:40px;margin-top:35px}
#main_bn li .bn_txt p{color:#fff;background:url(../images/bn_pbg.jpg) no-repeat top left;padding-top:0px;margin-top:0px ;font-size:1.34em;line-height:23px;}
#main_bn .bn_btn{position:absolute;top:140px;left:50%;width:1000px;margin-left:-470px}
#main_bn .bn_btn .prev{background:url(../images/bn_btn.gif) no-repeat;border:none;width:24px;height:24px;text-indent:-9999999px;overflow:hidden;display:inline-block}
#main_bn .bn_btn .next{background:url(../images/bn_btn.gif) no-repeat -27px 0;border:none;width:24px;height:24px;text-indent:-99999999px;overflow:hidden;display:inline-block}
#main_bn .dots{position:absolute;bottom:70px;text-align:center;width:100%}
#main_bn .dots li{border:none;text-indent:-9999px;width:48px;height:4px;background:#3e3c52;overflow:hidden;display:inline-block;margin:0 ; zoom:1; *display:inline /*IE7 HACK*/; _display:inline; /*IE6 HACK*/}
#main_bn .dots li.active{background:#3d96d6}

/*메인_중간레이아웃 */
#idx_wrapper {z-index:5;width:100%;min-width:1100px;zoom:1;background:#fff;padding-bottom:30px}
#idx_wrapper:after {display:block;visibility:hidden;clear:both;content:""}

#idx_container {z-index:4;position:relative;width:998px;margin:0 auto ;min-height:500px;height:auto !important;height:500px;font-size:1em;zoom:1;}
#idx_container:after {display:block;visibility:hidden;clear:both;content:""}
#top_btn{position:fixed;top:70%;right:20px;background:#fff;width:50px;height:50px; background:url(../images/top_btn.gif) no-repeat;text-indent:-9999px;overflow:hidden;opacity:0.8}
#idx_container .idx_btn{margin-left:10px;margin-top:29px; height:185px;}
#idx_container .idx_btn li{float:left;}
#idx_container hr{height:1px; width:97%; border:none; color:#000; background:#eee; text-align:center; margin: 0 auto; clear:both; display:block; margin-top:35px;margin-bottom:50px; }
#idx_container .idx_customer{position:relative;height:188px; width:935px; margin:0 auto;}
#idx_container .idx_customer .customer_center{float:left;width:316px; height:188px;}
#idx_container .idx_customer ul{position:relative; float:left; margin-left:13px;}
#idx_container .idx_customer li{float:left;margin-left:31px;}
#idx_container .bank{float:left;margin-left:44px;margin-top:14px;}
#sub_img{width:100%;margin:0; background:url(../images/sub_img_bg.jpg); text-align:center;}


/*서브_중간레이아웃 */
#wrapper{position:relative;width:1199px; min-width:1100px; margin:0 auto; margin-top:27px;margin-bottom:27px overflow:hidden;}
#wrapper:after {display:block;visibility:hidden;clear:both;content:""}
/*
#container{width:1000px; margin:0 auto;position:relative}
#container:after {display:block;visibility:hidden;clear:both;content:""}
#container_title{position:absolute;top:0;right:0;width:1px;height:1px;overflow:hidden;font-size:0;text-indent:-999px}
*/
/* lnb */
#lnb {position:absolute; top:0; left:0; width:158px; margin-top:49px; border:1px solid #eee}
#lnb h2 {float:left; margin:0;}
#lnb .snb {float:left; border-left:2px solid #0066cc;border-right:2px solid #0066cc;border-bottom:2px solid #0066cc; width:130px; padding:8px 12px;}


/* contents */
#container{overflow:hidden; position:relative; width:784px; margin-left:217px; min-height:550px; padding:30px 0 120px;clear:both; }

/* 서브 패스 */
.path {overflow:hidden; float:right; margin:0; padding:0;}
.path ul {float:left;}
.path ul li {float:left; padding:0 5px 0 10px; font-size:11px; font-family:'돋움',tahoma,Dotum,AppleGothic,sans-serif;  color:#83837e; background:url('../images/img_arrow.gif') no-repeat left 2px;}
.path ul li:first-child {padding-left:0; background:none;}
.path ul li:first-child img {margin-top:1px;}
.path ul li:last-child {padding-right:1px;}

/* 서브 컨텐츠영역 */
h2.sub_con_title {margin-top:18px;}
p.sub_con_info {margin-top:6px}
.paragraph {margin-top:50px;}

/* 서브 이미지영역 */
#sub_img{background:url('../images/sub_bg.jpg') no-repeat center center; min-width:1000px; width:100%; height:160px;clear:both;}
#sub_img p {margin:0 auto; width:1000px; text-align:left;}
#sub_img p img{margin:54px 0 0 32px;}


#juso{background:#f1f1f1; min-width:1000px;width:100%; clear:both; height:140px; padding:40px 0;}
#juso_wr{margin:0 auto;width:1000px;position:relative; padding-bottom:20px;}
#juso_wr section{float:left; width:210px; margin-left:50px;}
#juso_wr section.fr_section{margin-left:0;}
#juso_wr section h3{height:20px; padding-bottom:20px; border-bottom:1px solid #e1e1e1; margin-bottom:20px;}
#juso_wr section p{line-height:20px; color:#666666;}



/*하단레이아웃 */
#ft{background:#3e3c52; min-width:1100px;width:100%; clear:both;}
#ft_wr{margin:0 auto;width:1000px;position:relative}


#ft #ft_copy{padding:25px 0 20px}
#ft #ft_copy:after {display:block;visibility:hidden;clear:both;content:""}
#ft #ft_copy a{color:#fff;float:left;font-size:1.167em;font-weight:bold;padding:0 10px;border-left:1px solid #fff;}
#ft #ft_copy a:first-child{border:none;padding-left:0}
#ft_company{color:#b0aec5}
#ft_company p.ft_info{;border-bottom:1px solid #75738c;padding:0 0 15px;line-height:20px}
#ft_company p.ft_copy{text-align:center;color:#75738c;padding:15px 0}
#ft_family{position:absolute;top:0;right:0}
#ft_wr .b_logo{position:absolute;top:50px ;right:15px}



/* 이용약관, 개인정보취급방침 */
.privacy {margin:0; color:#666; line-height:18px;}
.privacy .pri_info {margin-bottom:50px; padding:20px; border:1px solid #cbcbcb;}
.privacy .pri_tit1 {padding-top:29px;}
.privacy .pri_tit1:first-of-type {padding-top:0;}
.privacy .pri_bg {margin-top:5px; padding:20px 21px 17px; background:#f6f6f6;}
.privacy .pri_tit1_1 {margin-bottom:8px;}
.privacy .pri_tit1_2 {margin:8px 0;}
.privacy .sbasic li {margin:0; padding:0;}
.privacy .sbasic li li {padding-left:16px;}
.privacy .sbasic li li span {padding-left:14px;}
.privacy .sbasic_dot li {padding-left:10px; background:url('/pc_html/images/guide/img_line.gif') no-repeat 1px 7px;}
.privacy .sbasic_dot li.none {background:none;}
.privacy .number {padding-top:9px;}
.privacy .number li {padding:0 0 6px 6px; list-style:none;}
.privacy .number .pri_tit li {padding:0 0 5px 14px; list-style:none; color:#969696;}
.privacy .pt24 {padding-top:24px;}
.tbl_pri {margin:10px 0 18px;}
.tbl_pri table {width:100%; border-spacing:0; border:1px solid #ccc;}
.tbl_pri thead th {padding:4px 0 1px 0; text-align:center; border:1px solid #ccc; background:#e5e5e5;}
.tbl_pri td {padding:4px 7px 1px; text-align:center; border:1px solid #ccc; background:#fff;}
.tbl_pri .pt13 {padding-top:13px;}
.tbl_pri .pt34 {padding-top:34px;}

/* 이메일무단수집거부 */
.rej_email {margin:0;}
.rej_email .banner { height:124px; margin-bottom:27px; padding-left:183px; padding-top:36px; font-family:'Malgun Gothic','Nanum Gothick',Dotum,sans-serif; border:1px solid #cbcbcb; background:#f6f6f6 url('/pc_html/images/guide/bg_rej.png') no-repeat 45px 29px;}
.rej_email .banner p {margin-bottom:7px; font-size:18px; font-weight:bold; color:#555; letter-spacing:-1.6px; line-height:30px;}
.rej_email .banner em {color:#62ad0c;}
.rej_email .banner .b_data {font-size:13px; color:#777; letter-spacing:-0.8px; text-indent:1px;}
.rej_email .rej_list li {margin-bottom:13px; font-size:13px; color:#666; line-height:18px;}
.rej_email .rej_list li.site {margin-top:-10px; padding-left:16px;}

/* 사이트맵 */
.p_sit {*zoom:1;}
.p_sit:after {display:block; clear:both; content:"";}
.p_sit .article {width:173px; margin-left:16px; float:left; margin-bottom:40px;}
.p_sit .ecp_art {margin-left:0;}
.p_sit .list_menu h4 {width:173px; line-height:40px; border-bottom:1px dotted #d5d5d5; padding-left:13px; font-weight:bold;}
.p_sit .article h3 {width:173px; height:40px; line-height:40px;}
.p_sit .list_menu>ul>li {width:173px; line-height:40px; border-bottom:1px dotted #d5d5d5;}
.p_sit .list_menu>ul>li>a {display:block; padding-left:13px; letter-spacing:-0.5px; font-size:13px; font-weight:bold; color:#777;}



/*메인메뉴 작성자 : 남기성*/
/*.container{margin-top:10px;height:1000px;}*/


.main{min-width:1100px; background-color:#f1f1f1; /*background-color:#e3c774;*/width:100%;margin-top: 15px;padding:20px 0;overflow:hidden;}
.left{float:left;width:22%;background-color:#FFFFFF;margin-right:20px;}
/*.left{padding-top:1px;padding-bottom:1px;width:100%;background-color:#FFFFFF;}*/
.left_all{width:22%;float:left;margin-right:20px;}
.left_all .left1{padding-top:1px;padding-bottom:1px;width:100%;background-color:#FFFFFF;}
.left_all .left2{padding-top:1px;padding-bottom:1px;margin-top:20px;width:100%;background-color:#FFFFFF;}

.content{float:left;width:76%;}
.content_first{height:285px;margin-right:18px;background-color:#FFFFFF; width:100%; padding:10px}
.content_second{padding:20px;margin-top:20px;background-color:#FFFFFF;width:100%; font-weight:300;  font-size:15px; line-height:24px;}
.content_second span{font-size:18px; font-weight:400; line-height:24px;} 
.content_second .second{width: 100%;}


.conent_third{padding:20px;margin-top:20px;background-color:#FFFFFF;width:100%; font-weight:300;  font-size:15px; line-height:24px;}
.conent_third span{font-size:18px; font-weight:400; line-height:24px;} 
.conent_third .second{width: 100%;}


/*****************************start index****************************************/
/*메인메뉴부분 작성자 남기성 */



#idx_container_first{background-color:#ffffff; width:51%; height:380px;margin-top:25px;float:left;}
a:hover #idx_container_first{background-color:#ddd;}
#idx_container_first_up{margin-top:10px; margin-left:10px;}
#idx_container_first_up_color {float:left;height:158px;width:49%; background-color:#3e4079;}
#idx_container_first_up_color p{margin:15px;color:#fff;font-size:20px;} 
#idx_container_first_up_img {float: left;height:158px;width:49%}
#idx_container_first_up_img >img{width:100%;height:100%;}
#idx_container_first_down {color:#333333;margin-left:10px;margin-top:180px;width:96%;font-size:13px;font-weight:400;}


#idx_container_second{background-color:#ffffff; width:24%; height:380px;margin-top:25px; margin-left:15px;float:left;}
a:hover #idx_container_second{background-color:#ddd;}
#idx_container_second_up{margin-top:10px; margin-left:10px;height:158px;width:93%;}
#idx_container_second_up >img{width:100%;height:100%;}
#idx_container_second_down {color:#252766;margin-left:10px;font-size:15px;margin-top:13px;font-weight:500;}
#idx_container_second_down_text{width:96%;margin-left:10px;font-size:13px;margin-top:20px;font-weight:400;}

#idx_container_third{background-color:#ffffff; width:21.3%; height:780px;margin-top:25px;margin-left:25px;float:left;}
a:hover #idx_container_third{background-color:#ddd;}
#idx_container_third_color{margin-top:10px; margin-left:10px;color:#333333;}
#idx_container_third_head h3{margin-top:23px;font-size:24px;color:#252766;font-weight:normal;}
#idx_container_third_head span{margin-left: 40px;font-weight:bold;color:#43b02a;font-size:16px;}
#idx_container_third_line{margin-top:50px;width:93%;height:5px;background-color:#dedede; }
.idx_container_third_photo{margin-top:32px;height:158px;width:96%;}
.idx_container_third_photo >img{width:100%;height:100%;}
.idx_container_third_text{margin-top:5px;color:#252766;font-size:15px;font-weight:bold;}
.idx_container_third_text >span{font-size:11.5px;}

#idx_container_fourth{color:#333333;font-weight:bold;background-color:#ffffff; width:24%;margin-top:-380px; height:380px;float:left;}
a:hover #idx_container_fourth{background-color:#ddd;}
#idx_container_fourth_up{margin-top:10px; margin-left:10px;height:158px;width:93%;}
#idx_container_fourth_up >img{width:100%;height:100%;}
#idx_container_fourth_down {margin-left:10px;font-size:15px;margin-top:13px;color:#252766;}
#idx_container_fourth_down_text{color:#333333;font-weight:400;width:96%;margin-left:10px;font-size:13px;margin-top:20px;}

#idx_container_fifth{background-color:#ffffff; width:51%;margin-top:-380px; height:380px;margin-left:279px;float:left;}
a:hover #idx_container_fifth{background-color:#ddd;}
#idx_container_fifth_up{margin-top:10px; margin-left:10px;}
#idx_container_fifth_up_color {float:left;height:158px;width:49%; background-color:#3e4079;}
#idx_container_fifth_up_color p{margin:15px;color:#fff;font-size:18px;} 
#idx_container_fifth_up_img {float: left;height:158px;width:49%}
#idx_container_fifth_up_img >img{width:100%;height:100%;}
#idx_container_fifth_down {color:#333333;font-weight:400;width:96%;margin-left:10px;font-size:13px;margin-top:180px;}
/*****************************end index****************************************/






.line1{width:80%;height:1px;background-color:#7f7f7f;margin-top:5px;width:93%;}
.line2{width:80%;height:1px;background-color:#7f7f7f;margin-top:5px;width:93%;}

#wrapper {width:100%; height:120px; background-color:#fff; margin-top: 5px; margin-bottom: 5px;}
#wrapper .container{margin:0 auto; width:1050px; overflow:hidden;padding-right:0px;padding-left:0px;}
.container .top a{font-weight:400;color:#666;margin:0 15px;}
.container .top a:first-child {margin-left:0;}
.container .top a.on{color:#0076bf;}
.container .top .toptit{margin-top:20px;}
.container  .toptit h2{margin-top:25px;}
.container  .toptit h2 a{color:#1f497d;font-size:35px; font-weight:400; }
.container  .toptit p{font-weight:300;padding-top:20px;font-size:15px;}
.main .main_wrap{margin:0 auto; width:1050px;}


/**********************************about.do***************************************/
.ab_first{height:180px;float:left;margin-right:18px;background-color:#FFFFFF;width:67%; padding:10px;}
.ab_first >a >img{width:100%;height:100%;}

.ab_second{height:285px;float:left;background-color:#FFFFFF;width:30%;padding:10px;}
.ab_second >a >img {width:100%;}
#ab_second_title {margin-top:10px;}
#ab_second_title >span {font-weight:bold;font-size:15px;color:#1f497d;}
#ab_second_text {margin-top:10px;}


.ab_third{height:421px;margin-top: -120px;float:left;background-color:#FFFFFF;width:67%; padding:10px;}
#ab_third_title >span {font-weight:bold;font-size:15px;color:#1f497d;}
#ab_third_text {margin-top:20px;}


.ab_fourth{margin-top:16px;height:285px;display:inline-block;background-color:#FFFFFF;margin-left:20px;width:30%; padding:10px;}
.ab_fourth >a >img{width:100%}
#ab_fourth_title{margin-top:10px;}
#ab_fourth_title >span{font-weight:bold;font-size:15px;color:#1f497d;}
#ab_fourth_text{margin-top:10px;}


/*******************location.do**********************/
/*
.main{min-width:1100px; background-color:#d8d8d8;width:100%;margin-top:-15px;}
.left{margin-top:20px;float:left;width:22%;background-color:#FFFFFF;margin-right:20px;}
.content{margin-top:20px;float:left;width:76%;margin-bottom:20px;}
*/
.lo_first{height:285px;float:left;margin-right:18px;background-color:#FFFFFF;width:30%;}
#lo_first_div{margin-top:15px;margin-left:15px;}
#lo_first_head{color:#8f8f8d;font-weight:bold;font-size:13px;}
#lo_first_kor{margin-top:20px;font-weight:bold;color:#404040;line-height:1.8;}
#lo_first_kor > h1{color:#1f497d;font-size:14px;margin-bottom: 10px;}
#lo_first_eng{margin-top:16px;font-weight:bold;color:#404040;line-height:1.8;}
#lo_first_eng > h1{color:#1f497d;font-size:14px;margin-bottom: 10px;}
#lo_first_foot {margin-top:15px;font-weight:bold;color:#404040;line-height:1.8;}
#lo_first_foot >span >img {width: 20px;margin-top: -3px;}
#lo_first_foot >span >a {color:#0076bf;font-size:12px;}


.lo_second{height:285px;float:left;background-color:#FFFFFF;width:67%; padding:10px;}
.lo_second >img{width:100%;height:100%;}

.lo_third{height:170px;margin-top: 10px;float:left;background-color:#FFFFFF;width:99.4%;}
#lo_third_head {margin-top:20px;margin-left:10px;}
#lo_third_head >span{color:#8f8f8d;font-weight:bold;font-size:13px;}
#lo_third_content{margin-top:20px;margin-left:10px;line-height:2;}
#lo_third_content_left{display:inline-block;width:40%;}
#lo_third_content_left > a{color:#0076bf;font-size:12px;font-weight:bold;}
#lo_third_content_right{display:inline-block;width:40%;}
#lo_third_content_right >a{color:#0076bf;font-size:12px;font-weight:bold;}

.lo_fourth{height:520px;margin-top: 10px;float:left;background-color:#FFFFFF;width:99.4%;}
#lo_fourth_head{margin-top:20px;margin-left:10px;}
#lo_fourth_head > span{color:#8f8f8d;font-weight:bold;font-size:13px;}

#map{margin-top:10px;margin-left:10px;width:97.5%; height:87%;}
/*
.line2{width:80%;height:1px;background-color:#7f7f7f;margin-top:5px;width:93%;}
*/



#mail_icon_img{width:20px;margin-top:-3px;}
/*********************모달**************************/
.modal-content .modal-body .table th {width: 103px;;height:45px;font-size: 18px;}
.modal-content .modal-body .table td input{width: 90%;}
.modal-content .modal-body .table td textarea{resize: vertical;height:250px;}
.modal-content .modal-body .table td select{width:90%;}

/**********************************검색*************************************/
.content_find{width:100%;overflow:hidden; background-color:#fff;height:220px;margin-bottom:20px;}
#content_find_div{padding:15px;}
#content_find_img{height:180px;}
#content_find_img > img{width:100%;height:100%;}
#content_find_text{width:58%;padding-top: 30px;}
.content_find_text_pagename{font-size:18px;margin-bottom:13px;color:#1f497d;}
.content_find_text_group{font-size:15px;margin-bottom:20px;color:#1f497d;}
.content_find_text_oneline{font-size:13px;}

#content_head{line-height:2;width:100%;background-color:#fff;margin-bottom:20px;}

#content_head_text{font-size:20px;color:#1f497d;padding: 15px;}

.content_not_find{width:100%;background:#fff;}
#content_not_find_head{padding:15px;font-size:25px; color:#1f497d;line-height: 1.4;}
#content_not_find_text{text-align:center;margin-top:20px;}
#content_not_find_text p:first-child{font-size:15px;margin-bottom:10px;}
#content_not_find_text p{font-size:12px;}
#content_not_find_text p:last-child{padding-bottom:10px;}



/************************Q&A ******************************/
/* container_list */
.container_list {position: relative; margin: 0 auto 0;}
/* simplecomment write */
.contents .simplecomment.write {background: #f5f5f5;border-top: 1px solid #636363;padding: 5px 0; height: 195px;}
.contents .simplecomment.write div {width: 100%;height: 60px; padding: 20px 2% 0 20px;}
.contents .simplecomment.write strong {font-size: 14px;font-weight: 400;color: #666666;display: block;padding: 15px 20px;}
.contents .simplecomment.write strong_qna_id {display:inline-block;font-size: 14px;font-weight: 400;color: #666666;padding: 10px 20px;}
.contents .simplecomment.write strong_qna_pw {font-size: 14px;font-weight: 400;color: #666666;padding: 10px 20px;}
.contents .simplecomment.write div textarea {float: left;height: 60px;width: 87%;border: 1px solid #c9c9c9;background: #FFF;resize: none;padding: 5px 1%;}
.contents .simplecomment.write div input {margin-left: 18px;height: 60px;width: 10%;border: 1px solid #636363;background: #636363;color: #FFF;}
.contents .simplecomment.write span {display: block;clear: both;padding: 10px 15px;color: #aaaaaa;font-size: 11px;}

#list_id{display:inline-block;width:30%;}
#list_pw{display:inline-block;width:30%;}
#list_findStr{width:30%;display:inline-block;}
#list_submit{}

/*************************************/



/* simplecomment state */
.contents .simplecomment.state {margin-top: 30px; border-bottom: 1px solid #e1e1e1;color: #aaaaaa;padding: 5px 0;}
.contents .simplecomment.state span {font-size: 2px;}
.contents .simplecomment.state strong {color: #0e3d9c;font-weight: 400;}
/* simplecomment */
.contents ul.simplecomment li {position: relative;}
.contents ul.simplecomment li div {padding: 10px;padding-bottom: 5px;}
.contents ul.simplecomment li div strong {color: #0e3d9c;font-weight: 400;}
.contents ul.simplecomment li div .bar {color: #cccccc;display: inline-block;padding: 0 10px;}
.contents ul.simplecomment li div .date {color: #888888;letter-spacing: -1px;}
.contents ul.simplecomment li div .reply {color: #bdbdbd;display: inline-block;padding: 0 10px;}
.contents ul.simplecomment li p {color: #444444;padding: 5px 20px 20px;}
.contents ul.simplecomment li div.btn {position: absolute;top: 20px;right: 15px;padding: 0;}
.contents ul.simplecomment li div.btn input {display: block;font-size: 11px;border: 1px solid #c6c6c6;color: #858585;padding: 5px 5px; height: 25px;line-height: 11px;background: #FFF;margin-bottom: 3px;font-family: "NanumGothic";}

.contents ul.simplecomment li div.btn_reply {position: absolute;top:134px;right: 15px;padding: 0;}
.contents ul.simplecomment li div.btn_reply input {display: block;font-size: 11px;border: 1px solid #c6c6c6;color: #858585;padding: 5px 5px; height: 25px;line-height: 11px;background: #FFF;margin-bottom: 3px;font-family: "NanumGothic";}



/* con */
.con h2>strong, .contents h3>strong {color: #ff5d13;}
.con p {line-height: 1.5;padding-bottom: 10px;text-align: justify;}
.con p.padding0 {padding: 0;}
.con .pdl0 {padding-left: 0;}
.con p a {color: #0e3d9c;text-decoration: underline;}
.con .box01 { background: #f1f1f1;padding: 10px 20px;overflow: hidden;}
.con .box01_left {width: 50% background:#f1f1f1;padding: 0px 0 0 20px;overflow: hidden;}
.con .box01_right {background: #f1f1f1;padding: 0px 20px;overflow: hidden;}
.con {width: 750px;margin: 0 auto;padding-bottom: 40px;font-size: 13px;}
.con section {margin-bottom: 30px;overflow: hidden;}
.con section section {margin-bottom: 20px;}
.con h2 {position: relative;color: #333333;font-size: 22px;font-family: "NanumGothicBD";font-weight: 400;line-height: 20px;margin-bottom: 20px;}
.con h3 {position: relative;font-size: 16px;font-family: "NanumGothicBD"; font-weight: 400;line-height: 20px;margin: 10px 0;}
/* subContents */
section.subContents { background-color: #ffffff;font-weight: 300;font-size: 15px;line-height: 24px;}
section.subContents>.contents {width: 798px;padding: 20px;color: #5c5c5c;line-height: 18px;}
section.subContents>.contents.full {padding-left: 20px;}
section.subContents>.contents>nav {width: 700px;top: 0;left: -40px;padding: 20px 45px 19px;position: relative;height: 30px;border-bottom: 1px #e6e6e6;background: #FFF;margin-bottom: 40px;}
section.subContents>.contents.full>nav {width: 910px;}
section.subContents>.contents>nav>h1 {color: #333333;font-weight: 400;font-family: "NanumGothicBD";font-size: 30px;line-height: 30px;}
section.subContents>.contents>nav>p {position: absolute;top: 30px;right: 0px;color: #999999;font-size: 15px;}
section.subContents>.contents>nav>p>a {color: #999999;}
section.subContents>.contents>nav>p>a.on {color: #666666;}
/* replyform */
.replyform {height: 30px;border-top: 1px dashed #e1e1e1;position: relative;padding: 10px 0 !important;}
.replyform textarea {float: left;height: 30px;width: 82%;border: 1px solid #e1e1e1;background: #FFF;resize: none;margin-left: 5%;}
.replyform p {float: right;height: 30px;width: 10%;line-height: 30px;text-align: center;padding: 0 !important;color: #858585;font-size: 11px;margin-right: 1%;}
.replyform p a {color: #858585;font-size: 11px;font-family: "NanumGothic";}
/* reply */
li.reply .replyform p {padding: 0 !important;}
li.reply {}
li.reply {border-bottom: 1px dashed #e1e1e1 !important;}
li.reply p {padding: 5px 50px 20px !important;}
/* fieldset */
fieldset.search2 {display: block;width: 723px;height: 33px;margin-top: 45px;padding-top: 10px;text-align: center;}
fieldset.search2 select {font-size: 12px;line-height: 18px;vertical-align: middle;}
fieldset.search2 input.text {font-size: 12px;line-height: 18px;vertical-align: middle;}
fieldset.search2 input.btn {vertical-align: middle;}
fieldset.search2 input.qna_submit {height: 33px;width: 7%;margin-left: 5px;border: 1px solid #1f497d;background: #1f497d;color: #FFF;}
fieldset.search3 {display: block;height: 57px;padding-top: 5px;border: 1px solid #424242;background: #535353;text-align: center;}
fieldset.search3 select {vertical-align: middle;}
fieldset.search3 input.text {border: 1px solid #3d3d3d;vertical-align: middle;}
fieldset.search3 input.img {vertical-align: middle;}
fieldset.search3 span {margin-left: 7px;}
fieldset.search3 input.check {width: 13px;height: 13px;margin: 0;padding: 0;vertical-align: middle;}
fieldset.search3 label {display: inline-block;color: #ffffff;font-family: NANUM;font-size: 12px;line-height: 18px;vertical-align: middle;}
fieldset.search3 p {margin-top: 7px;color: #dddddd; font-family: NANUM; font-size: 12px; line-height: 18px;}
.reply_icon{margin-right:5px;}
/* paging */
/* div.paging {
   width: 100%;
   margin-top: 15px;
   text-align: center;
   font-size: 0;
   line-height: 0;
   vertical-align: top;
} */

#buttons{width: 100%;margin-top: 15px;text-align: center;font-size: 0;line-height: 0;vertical-align: top;}
#buttons input {display: inline-block;width: 37px;height: 37px;margin: 0px 4px;padding-top: 3px;border: 2px solid #e0e0e2;border-right: 2px solid #e0e0e2;border-bottom: 2px solid #e0e0e2;font-family: NANUM;font-size: 12px;line-height: 18px;vertical-align: top;cursor:pointer;text-decoration:none;}
div#buttons input{color: #000;font-weight: bold;background:#ffffff;boarder}
.wrap {width: 300px; height: auto; position: relative; resize: none;border-radius: 0.5em;}
.wrap input{border:none; border-right:0px;border-top:0px;boder-left:0px;boder-bottom:0px;text-align:right;}
.hidden_reply input{display: inline-block;width: 37px;height: 34px;margin: 0px 4px;padding-top: 3px;border: 2px solid #e0e0e2;border-right: 2px solid #e0e0e2;border-bottom: 2px solid #e0e0e2;font-family: NANUM;font-size: 12px;line-height: 18px;vertical-align: top;cursor:pointer;text-decoration:none;background:#ffffff;}
.reply_text{padding-bottom: 0px;}
.reply_div{    padding: 15px 0;}
/****************************Q&A 끝**********************************/


/***********************반응형***************************/
#mini_menu_btn{display:none;}
#mini_menu_btn{display:none;}
#mini_menu_div{display:none;}
#idx_container_first_up_color_mini{display:none;}
#idx_container_fifth_up_color_mini{display:none;}
#idx_container{z-index: 2; width: 1101px;}
#ft_mini {display:none;}
.ab_first_div{display:none;}







































